<h1>Editing Office</h1>

<%= render 'form', office: @office %>

<div class="mt-5">
  <%= link_to 'Mostar', @office, class: 'btn btn-primary' %>
  <%= link_to 'Atras', offices_path, class: 'btn btn-success' %>
</div>